# Binaries
**/bin/
**/obj/

cache/
Binaries/
Intermediates/
**.pdb

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user

.VSCodeCounter
